@font-face {
    font-family: Rubik;
    src: url("assets/fonts/Rubik/static/Rubik-Light.ttf");
}
@font-face {
    font-family: Rubik-Bold;
    src: url("assets/fonts/Rubik/static/Rubik-Bold.ttf");
}

@font-face {
    font-family: Rubik-Medium;
    src: url("assets/fonts/Rubik/static/Rubik-Medium.ttf");
}

nav {
    font-family: Rubik;
}
nav .btn-signup {
    background-color: #FFBA33;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    font-weight: 700;
}
nav .btn-login {
    width: 150px;
    height: 45px;
    border-radius: 50px;
    font-weight: 700;
}
nav .text-brand {
    font-size: 20px;
    font-weight: 700;
}

nav .text-home {
    font-size: 16px;
    font-weight: 700;
}

.text-home:active {
    color: #6A4029;
}
.text-product:active {
    color: #6A4029;
}
nav  .text-cart, .text-history, .text-home {
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
}
nav .btn-login:hover {
    background-color: #FFBA33;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    font-weight: 700;
}

nav .fa-comments {
    font-size: 24px;
    margin-right: 25px;
    margin-top: 10px;
}

/* Banner index */
.frame-banner {
    position: relative;
    z-index: 1;
}
.side-left {
    position: absolute;
    left: 40px;
    top: 120px;
}
.text-banner {
    width: 380px;
    color: rgb(255, 255, 255);
    font-family: Rubik-Bold;
    font-size: 32px;
}
figure p {
    width: 500px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: Rubik-Bold;
    top: 110px;
    font-size: 18px;
    text-align: justify;
}
.btn-banner {
    width: 250px;
    height: 50px;
    border-radius: 10px;    
    position: absolute;
    top: 220px;
    color: #6A4029;
    background-color: #FFBA33;
}
.side-right {
    position: absolute;
    width: 314px;
    height: 60px;
    left: 750px;
    top: 30px;
}
.input-search {
    width: 314px;
    height: 60px;
    border-radius: 30px;
    background-color: #EFEEEE;
    padding: 15px 60px;
}
.icon-search {
    width: 30px;
    margin-top: -60px;
    margin-left: 30px;
    background-color: aqua;
}

.text-search {
    position: absolute;
    margin-left: 10px;
}

/* Box Info */
.box-info {
    position: absolute;
    align-items: center;
    width: 900px;
    height: 200px;
    margin-top: -100px;
    margin-left: 170px;
}
.user-icon {
    width: 50px;
    height: 50px;
    background-color: #FFBA33;
    margin-left: 70px;
}
.fa-user {
    margin: 15px 0 0 18px;
}
.box-text-user-info {
    margin-left: 15px;
}
.first-text {
    font-family: Rubik-Bold;
    font-size: 24px;
}
.sec-text {
    color: #4F5665;
    font-family: Rubik;
    font-size: 18px;
}
.fa-map-marker-alt {
    margin: 15px 0 0 18px;
}
.fa-heart {
    margin: 15px 0 0 18px;
}
.line-vr{
    border-left: 2px solid #EEEFF2;
    height: 100px;
    margin-left: 100px;
}
.box-teamwork {
    margin-top: 200px;
    margin-left: 80px;
}
.text-content {
    width: 400px;
    margin-left: 30px;
}
.text-head {
    font-family: Rubik-Bold;
    color: #000000;
    font-size: 32px;
    font-weight: 500;
}
.box-text-list {
    width: 500px;
    margin-top: 50px;
}
.fa-check-circle {
    color: #2FAB73;
}
.sub-text-head {
    margin-top: 10px;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
}
.text-head-favo {
    font-size: 32px;
    font-weight: Rubik-Bold;
    color: #000000;
}
.sub-text-head-favo {
    font-size: 16px;
    font-family: Rubik;
    font-weight: 400;
    color: #4F5665;
    margin-top: 10px;
}

/* Card Product */
.card-product {
    height: 760px;
}
.frame-img-product {
    margin-top: 80px;
    margin-left: 135px;
}
.img-product {
    width: 168px;
    height: 170px;
}
.text-title-product {
    font-family: Rubik-Medium;
}
.text-head-map {
    font-weight: Rubik-Bold;
    color: #000000;
}
.box-text-head-map {
    text-align: center;
    margin-left: 33rem;
}
.sub-text-head-map {
    font-size: 16px;
    font-family: Rubik;
    font-weight: 400;
    color: #4F5665;
    width: 32rem;
    margin-left: -6rem;
}
.frame-img-map {
    width: 70rem;
}
/* Sign Up style */
.frame-img{
    width: 600px;
    height: 967px;
    background-color: aqua;
}
section .btn-login {
    background-color: #FFBA33;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    font-weight: 700;
    margin-left: 200px;
}

h2 {
    font-family: Rubik;
    color: #6A4029;
}
input {
    width: 505px;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 20px;
}
label {
    font-size: 18px;
    color: #4F5665;
}
section .btn-signup {
    background-color: #FFBA33;
    width: 300px;
    height: 75px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    margin-left: 120px;
    color: #6A4029;
}

.btn-login-with {
    background-color: #ffffff;
    width: 300px;
    height: 75px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    margin-left: 120px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px #c0c6d1
}

.card-member  {
    position: absolute;
    margin-top: -100px;
    margin-left: 140px;
}

.box-bottom {
    background-color: #ffffff;
    width: 980px;
    height: 200px;
    box-shadow: 5px 5px 3px 3px #c0c6d1;
    border-radius: 10px;
}
.text-card {
    width: 300px;
    color: #0B132A;
    font-size: 24px;
    padding: 40px;
    margin-left: 50px;
}
.text-sub {
    color: #4F5665;
    font-size: 14px;
    margin-left: 90px;
}
.btn-create {
    position: absolute;
    background-color: #FFBA33;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    margin-left: 700px;
    margin-top: -90px;
    color: #6A4029;
}
footer {
    width: 100%;
    height: 500px;
    background-color: #F8F8F8;
}

footer .text-foot {
    width: 330px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    color: #4F5665;
}

.foot-product-list {
    width: 200px;
    align-self:center;
    margin-top: 50px;
    padding: 10px;
}
.foot-engage-list {
    width: 200px;
    align-self: center;
    margin-top: 50px;
    padding: 10px;
}
.social-media {
    padding: 5px;
    margin-top: -30px;
    color: #6A4029;

}

.social-media .facebook {
    width: 40px;
    height: 40px;
    background-color: #FFBA33;
    border-radius: 25px;
    margin-right: 10px;
}
.fa-facebook-f {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}
.social-media .twitter {
    width: 40px;
    height: 40px;
    background-color: #FFBA33;
    border-radius: 25px;
    margin-right: 10px;
}

.fa-twitter {
    width: 40px;
    height: 40px;
    margin-left: 13px;
}

.social-media .instagram {
    width: 40px;
    height: 40px;
    background-color: #FFBA33;
    border-radius: 25px;
    margin-right: 10px;
}

.fa-instagram {
    width: 40px;
    height: 40px;
    margin-left: 13px;
}

.text-copyright {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
}

.foot-title-product {
    margin-bottom: 25px;
    font-family: Rubik;
    font-weight: bold;
    color: #000000;
}
.foot-text-download {
    margin-bottom: 10px;
    font-family: Rubik;
    font-weight: 500;
    color: #4F5665;
}
.foot-text-pricing {
    margin-bottom: 10px;
    font-family: Rubik;
    font-weight: 500;
    color: #4F5665;
}
.foot-text-location {
    margin-bottom: 10px;
    font-family: Rubik;
    font-weight: 500;
    color: #4F5665;
}
.foot-text-country {
    margin-bottom: 10px;
    font-family: Rubik;
    font-weight: 500;
    color: #4F5665;
}
.foot-text-blog {
    margin-bottom: 10px;
    font-family: Rubik;
    font-weight: 500;
    color: #4F5665;
}

/* Product-cust */
.left-content {
    width: 28rem;
    height: 60rem;
}
aside h2 {
    font-family: Rubik-Bold;
}
.box-back {
    background-color: #895537;
}
.box-front {
    background-color: #FFCB65;
}
.frame-img-coupon {
    width: 100px;
}
.bottom-line {
    margin-top: -10px;
    border-bottom: 4px dotted #000000 ;
}
.box-btn-apply{
    width: 15rem;
    height: 3rem;
    padding: 10px;
    margin-top: 30rem;
    background-color:#6A4029;
    text-align: center;
    margin-left: 6rem;
    border-radius: 15px;
}
.card-product-cust {
    border-radius: 25px;
}
.fa-pencil-alt {
    width: 30px;
    height: 20px;
}
.box-info-user {
    width: 28rem;
    height: 32rem;
    border-radius: 25px;
}
.box-info-contacts {
    width: 40rem;
    border-radius: 25px;
    margin-left: 26rem;
}
.btn-edit {
    margin-left: 54rem;
}
.box-info-details {
    width: 40rem;
    border-radius: 25px;
    margin-top: 37rem;
}
.btn-edit-details {
    margin-left: 34rem;
}
.box-confirm {
    width: 20rem;
    margin-top: 38rem;
    margin-left: 48rem;
}
.box-btn-save {
    width: 15rem;
    height: 3rem;
    padding: 10px;
    margin-top: 2rem;
    background-color: #6A4029;
    text-align: center;
    margin-left: 3rem;
    border-radius: 15px;
}
.box-btn-cancel {
    width: 15rem;
    height: 3rem;
    padding: 10px;
    margin-top: 1rem;
    background-color: #FFBA33;
    text-align: center;
    margin-left: 3rem;
    border-radius: 15px;
}
.box-btn-editpw {
    width: 15rem;
    height: 3rem;
    padding: 10px;
    margin-top: 2rem;
    background-color: #ffffff;
    text-align: center;
    margin-left: 3rem;
    border-radius: 15px;
}
.box-btn-logout {
    width: 15rem;
    height: 3rem;
    padding: 10px;
    margin-top: 1rem;
    background-color: #ffffff;
    text-align: center;
    margin-left: 3rem;
    border-radius: 15px;
}
.box-info-forgot {
    margin-top: 30rem;
    margin-left: 31rem;
}

.box-form {
    width: 100%;
}
/* Slider */
.slider {
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 30px 0;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.box-radio{
    display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-radio input::after{
    background-color: #e76800;
}

.box-radio .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
}
.fa-envelope {
    font-size: 24px;
    margin-right: 25px;
    margin-top: 10px;
}

.fa-search {
    font-size: 1rem;
    margin-right: 25px;
    margin-top: 15px;
}

.box-deliver-method {
    margin-left: 48rem;
}
.box-order {
    width: 40rem;
}

/* Payment Page */
.body-payment {
    background-image: url("assets/images/bg-payment.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.text-head-order {
    color: #362115;
}
.img-order-summary {
    border-radius: 18px;
}
.box-info-order {
    width: 28rem;
    height: 40rem;
    border-radius: 25px;
}
.text-total, .idr-total {
    color: #362115;
}
.frame-footer {
    margin-top: 30rem;
}